/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 html,body{
  
  margin:0px;
  padding: 0px;
  
  height:100%;
  background-color:#1E1E1E;
  }
  nav
  {
    background-color:#181818;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #nav-mobile
  {
    background-color:#181818;
  
  }
  .foo
  {
    background-color:#181818;
  }
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.uno 
{
  background-image: url(../img/guitar.jpg);
  background-size: 100%;
  height: 100%;
}

.dos
{
  background-image: url(../img/carlos.jpg);
  background-size: 100%;
  height: 100%;
  
}
.tres
{
  background-image: url(../img/cunet.jpg);
  background-size: 100%;
  height: 100%;
}
.cuarto
{
  background-image: url(../img/zanate.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  height: 100%;
}

.carousel
{
   margin-top: -100px;
   margin-bottom: -100px;
}
.lista
{
    width: 45px;
    height: 44px;
    margin-right: 30px;
}
.collapsible
{
    border-color: #353232;
}
.collapsible-header
{
    background-color:#212121;
    border-color: #353232;
    border-top-color: #353232;
}

.secondary-content
{
    margin-left: 70px;
    margin-top: 5%;
}
.canciones > li
{
    padding: 1px;
    list-style-image: url('../img/play.png');

}
#headr
{
  height: 10%;
  background-image:url(../img/wall1.jpg);
  background-size: 100% 100%;
}
#profile
{
  height: 70px;
  width: 70px;
  margin-top: 110px;
  padding: 0px;
}
.audio
{
 background-color: #181818;
 border: black;
}